{% extends 'myapp/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>Buses Query Result</h2>
<div class="card p-3">
<table class="table table-striped table-success border border-dark rounded">
    <thead>
    <th>ID</th>
    <th>NAME</th>
    <th>SOURCE</th>
    <th>DESTINATION</th>
    <th>NUM OF SEATS</th>
    <th>NUM OF SEATS REM</th>
    <th>PRICE</th>
    <th>DATE</th>
    <th>TIME</th>

    </thead>

    {% for row in bus_list %}
    <tr>
        <td>{{row.id }}</td>
        <td>{{row.bus_name}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.rem}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>


    </tr>
    {% endfor %}
</table>
<div class="card container" style="max-width: 540px; padding-right: 0%;">
<form action="{% url 'bookings' %}" method="post">
    {% csrf_token %}
    <h3 class="text-center">Book</h3>
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Bus ID</label>
        <div class="col-9">
            <input name='bus_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>
    <div class="col-auto">
        <label for="example-email-input" class="col-5 col-form-label">Number of seats</label>
        <div class="col-9">
            <input name='no_seats' class="form-control" type="number">
        </div>
    </div>
    <br>
    <br>
    <div class="col-auto mb-3">
        <button type="submit" class="btn btn-primary">Book bus</button>
    </div>


    {{error}}

</form>
</div>
</div>

{% endblock %}